jupyter-book
ghp-import
nbconvert
nbformat

cryptography
python-dotenv

matplotlib
numpy
pandas
pycaret
scikit-learn
seaborn
tabulate
ydata-profiling

openpyxl
psycopg2-binary
pymysql
sqlalchemy

ipykernel
opencv-python
aeon
tensorflow
torch
sktime