jupyter-book==1.0.4.post1
ghp-import
nbconvert
nbformat

cryptography
python-dotenv

matplotlib
numpy
pandas
pycaret
scikit-learn
seaborn
tabulate
ydata-profiling

openpyxl
psycopg2-binary
pymysql
sqlalchemy

openeo
xarray

ipykernel
opencv-python
aeon
# tensorflow
torch
sktime
scikit-image

kagglehub
statsmodels

nltk
wordcloud
symspellpy
langdetect
Sastrawi

openai